.home {
  padding: 2rem;
}
.home-grid{
  padding-left: 5%;
  padding-right: 5%;
}

.hero {
  background-image: url('../../assets/images/banner/pulsar_banner.jpeg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 8px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #ff3d00;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e03500;
}

.spotlight,
.electric-zone,
.latest-bikes,
.test-rides,
.upcoming-bikes,
.popular-comparisons,
.second-hand-bikes,
.bike-news,
.web-stories {
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.bike-list,
.electric-list,
.latest-list,
.test-ride-list,
.upcoming-list,
.comparison-list,
.second-hand-list,
.stories-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.news-list {
  grid-template-columns: repeat(2, 1fr);
}

.bike-list div,
.electric-list div,
.latest-list div,
.test-ride-list div,
.upcoming-list div,
.comparison-list div,
.second-hand-list div,
.news-list div,
.stories-list div {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

.bike-list div:hover,
.electric-list div:hover,
.latest-list div:hover,
.test-ride-list div:hover,
.upcoming-list div:hover,
.comparison-list div:hover,
.second-hand-list div:hover,
.news-list div:hover,
.stories-list div:hover {
  transform: scale(1.05);
}

.bike-list,
.electric-list,
.latest-list,
.test-ride-list,
.upcoming-list,
.comparison-list,
.second-hand-list,
.news-list,
.stories-list {
  display: flex;
  grid-template-columns: repeat(, 1fr);
}

.search-bar {
  flex-grow: 1;
  margin: 0 2rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .home {
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .bike-list,
  .electric-list,
  .latest-list,
  .test-ride-list,
  .upcoming-list,
  .comparison-list,
  .second-hand-list,
  .news-list,
  .stories-list  {
    grid-template-columns: repeat(2, 1fr);
  }
}
